.animate-text {
  animation: textchange 1s linear infinite;
}

@keyframes textchange {
  to {
    @apply text-blue-500;
  }
  from {
    @apply text-emerald-500;
  }
}

.backdrop {
  animation: backdrop-opacity 200ms ease;
}

@keyframes backdrop-opacity {
  from {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}

.c,
.cc {
  @apply flex justify-center items-center;
}

.cc {
  @apply flex-col;
}

.fc {
  @apply flex-col;
}

.f {
  @apply flex;
}

.r {
  @apply relative;
}

.ic {
  @apply items-center;
}

.jc {
  @apply justify-center;
}

.jb {
  @apply justify-between;
}

.b {
  @apply border border-gray-200;
}

button:focus {
  @apply ring-2;
  outline: none;
}
