.modal-body-fixed {
  position: fixed;
  left: 0;
  right: 0;
}

.modal-container {
  animation: modal-scale 300ms ease;
}

@keyframes modal-scale {
  from {
    scale: 0.75;
  }
  to {
    scale: 1;
  }
}
