.toast-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  --width: min(480px, 90vw);
  --height: 4rem;
  --gap: 1rem;
  --duration: 400ms;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 1000;
}

.toast {
  display: flex;
  transform: translateY(var(--y)) scale(var(--scale));
  transform-origin: center;
  transition: all var(--duration) ease-in-out;
  pointer-events: auto;
}

.toast-container:hover .toast {
  transform: translateY(0) scale(1);
}

.toast-inner {
  @apply bg-white shadow-lg relative border;
  width: var(--width);
  height: var(--height);
  margin-bottom: var(--gap);
  opacity: var(--opacity);
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
  border-radius: 6px;
  transition: all var(--duration) ease-in-out;
}

.toast-container:hover .toast .toast-inner {
  opacity: 1;
  height: auto;
  min-height: var(--height);
}

.toast-container:hover .toast.exit-active {
  transform: translateY(0) scale(0.5);
}

.toast.enter {
  transform: translateY(100%) scale(1);
  margin-bottom: calc((var(--height) + var(--gap)) * -1);
}
.toast.enter-active {
  transform: translateY(var(--y)) scale(var(--scale));
  margin-bottom: 0;
}

.toast.exit-active {
  transform: translateY(calc(var(--y) - 10%)) scale(calc(var(--scale) - 0.1));
  margin-bottom: calc((var(--height) + var(--gap)) * -1);
}

.toast.exit-active .toast-inner {
  opacity: 0;
}

.toast-inner .close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.8rem;
  padding: 0.3rem;
  display: flex;
}

.toast-inner .icon {
  @apply bg-white absolute top-0 left-0 bottom-0 text-white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 6px;
  margin: 12px;
}

.toast-inner .icon.error {
  @apply bg-red-500/20 text-red-500;
}
.toast-inner .icon.success {
  @apply bg-emerald-500/20 text-emerald-500;
}
.toast-inner .icon.info {
  @apply bg-blue-500/20 text-blue-500;
}
.toast-inner .icon.warning {
  @apply bg-orange-500/20 text-orange-500;
}

.toast-content {
  @apply flex justify-center h-full flex-col py-4 mr-5 ml-16;
}

.toast-content p {
  @apply whitespace-pre-wrap hidden text-sm;
}

.toast-container:hover .toast-content p {
  @apply block mt-1 text-gray-800;
}

.toast-content h4 {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-shadow: 1;
  font-size: 16px;
  line-height: 20px;
  @apply font-medium;
}

.toast-container:hover .toast-content h4 {
  white-space: pre-wrap;
}
